@font-face {
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    src: url("../assets/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    src: url("../assets/fonts/Roboto_Mono/static/RobotoMono-SemiBold.ttf");
}