AnchorPane, FlowPane {
    -fx-background-color: white;
    -fx-font-family: "Poppins Regular";
}

.media-scroll-pane {
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-padding: 1.0;
}

.media-scroll-pane:vertical .scroll-bar, .media-scroll-pane:horizontal .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:vertical, .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-bar .thumb {
    -fx-background-color: #535454;
}

.scroll-bar .corner {
    -fx-background-color: #191919;
}

.scroll-bar .filler {
    -fx-background-color: #191919;
}

.header {
    -fx-background-color: white;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #cccccc;
    -fx-border-style: solid;
}

.profile-picture {
    -fx-border-radius: 20px;
    -fx-background-color: red;
    -fx-border-insets: 15px;
}

.media-card {
    -fx-cursor: hand;
}

.media-title {
    -fx-text-fill: #0f0f0f;
    -fx-font-size: 12px;
}

.username-label {
    -fx-text-fill: #0f0f0f;
}

.add-media-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: hand;
}