AnchorPane {
    -fx-background-color: white;
    -fx-font-family: "Poppins Regular";
}

.signup-title {
    -fx-font-size: 30px;
    -fx-text-fill: #2d333a;
    -fx-font-family: "Poppins SemiBold";
}

TextField, PasswordField {
    -fx-border-radius: 4px;
}

.input {
    -fx-text-fill: #2d333a;
    -fx-border-color: #c2c8d0;
}

.input:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #e6481b;
}

.input-label {
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}

.signup-button {
    -fx-font-weight: 500;
    -fx-font-size: 15px;
    -fx-background-color: #e6481b;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
}

.signup-button:hover {
    -fx-background-color: #D93C10;
    transition: -fx-background-color 0.4s ease;
}

.error {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #dc3030;
}

.label-error {
    -fx-text-fill: #dc3030;
}

.error-text {
    -fx-text-fill: #dc3030;
    -fx-font-size: 10px;
    -fx-wrap-text: true;
}

.go-back-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-cursor: hand;
}