AnchorPane {
    -fx-background-color: white;
}

.signup-title {
    -fx-font-size: 30px;
    -fx-text-fill: #2d333a;
    -fx-font-weight: 900;
}

TextField, PasswordField {
    -fx-text-fill: #2d333a;
    -fx-border-color: #c2c8d0;
    -fx-border-radius: 4px;
}

TextField:focused, PasswordField:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: #E6481B;
}

.input-label {
    -fx-font-size: 12px;
    -fx-font-weight: 400;
}

.signup-button {
    -fx-font-weight: 400;
    -fx-font-size: 15px;
    -fx-background-color: E6481B;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
}

.signup-button:hover {
    -fx-background-color: #D93C10;
    transition: -fx-background-color 0.4s ease;
}